PORT=3000
BASE_URL=http://localhost:3000
SESSION_SECRET=change_this_to_a_long_random_secret
ADMIN_PASSWORD=change_me
STRIPE_SECRET_KEY=sk_test_your_key_here
STRIPE_PRICE_ID=price_your_price_id_here
OFFER_PRICE_DISPLAY=$1
