DirectoryIndex index.php

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^sitemap\.xml$ sitemap.php [L,QSA]
RewriteRule ^signup/?$ signup.php [L,QSA]
RewriteRule ^login/?$ login.php [L,QSA]
RewriteRule ^app/?$ app.php [L,QSA]
RewriteRule ^support/?$ support.php [L,QSA]
RewriteRule ^ref/([A-Za-z0-9]+)/?$ signup.php?ref=$1 [L,QSA]
RewriteRule ^([a-z0-9][a-z0-9-]{2,31})/?$ profile.php?slug=$1 [L,QSA]
